
* {
  box-sizing: border-box;
}


h1 {
 font-size: 85px;
 font-family: 'Fascinate Inline', cursive;
 margin-left: 400px;
 position: relative;
 }

.box2 {
  width: 600px;
  height: 50px;
  color: black;
  background-color: black;
  border-radius: 5%;
  margin: 0 auto;
  box-shadow: 1px 1px 5px black;

}

.container {
 height: 400px;
 border: 5px dashed black;
 width: 100%;
 background-color: #e6f2ff;
 border-radius: 10%;
 margin-bottom: 10px;


}

#songtext {
  color: yellow;
  font-size: 25px;
  font-family: American Typewriter, serif;
  padding: 8px;
  animation: song 15s infinite;

}

@keyframes song {
  0% { transform: translateX(190px)
  }
 100% { transform: translateX(10px)
 }
 }


.button-box {
  margin: 10px auto;
  width: 500px;
  height: 50px;
  padding: 10px;

}

#play, #pause, #stop, #next {
  width: 150px;
  height: 30px;
  background-color: black;
  color: yellow;
  margin-left: 4px;
  border-radius: 20%;
  font-size: 15px;
  font-family: American Typewriter, serif;
  text-decoration: none;
}

input {
  width: 250px;
  margin-left: 500px;
}

button:hover {
  background-color: white;
  color: black;
  box-shadow: 1px 1px 1px black;
}

#btn3 {
  width: 325px;
  height: 50px;
  background-color: black;
  border-radius: 5%;
  margin-top: 30px;
  margin-left: 75px;
  box-shadow: 1px 1px 5px black;
  display: inline;
  color: yellow;
  text-align: center;
  font-size: 20px;
  font-family: American Typewriter, serif;
  padding-left: 20px;


}

#btn4 {
  width: 325px;
  height: 50px;
  background-color: black;
  border-radius: 5%;
  margin-top: 40px;
  margin-left: 150px;
  box-shadow: 1px 1px 5px black;
  display: inline;
  color: yellow;
  text-align: center;
  font-size: 19px;
  font-family: American Typewriter, serif;
  padding-left: 20px;
}

#btn5 {
  width: 325px;
  height: 50px;
  background-color: black;
  border-radius: 5%;
  margin-top: 40px;
  margin-left: 150px;
  box-shadow: 1px 1px 5px black;
  display: inline;
  color: yellow;
  text-align: center;
  font-size: 20px;
  font-family: American Typewriter, serif;
  padding-left: 20px;
}

#instructions {
  font-size: 75px;
  text-align: center;
  font-family: 'Fascinate Inline', cursive;
  margin-bottom: 5px;
}
